*{
    margin: 0;
    padding: 0;
    font-family: 'poppins';
}
.navbar{
    background-color:white;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:fixed;
}
#home{
    color: black;
}
.nav-items{
    display: flex;
   
    margin: auto;
}
.polar{
    display: flex;
    margin-left: 8%;
    margin-top: 10px;
}
.polar a img{
    height: 50px;
    width: 100px;
}
.nav-items ul li{
    font-family: Arial;
    display: inline;
    margin-left: 40px;
    font-size: 17px;
    color: rgb(158, 154, 154);

}
.nav-items ul li:hover{
    color: black ;
    font-size: 18px;
    transition: ease-in-out 0.3s;
}
.nav-items ul a{
    text-decoration: none;
}
.nav-items ul a:hover{
    color: black;
}
.sign-in-box{
    display: flex;
    display: inline;
    border: 1px solid rgb(181, 177, 177);
    text-align: center;
    width: 65px;
    height: 25px;
    justify-content: center;
    margin-left: 35px;
    margin-top: 6px;
}
.sign-in-box a:hover{
    color: rgb(132, 204, 204)  ;
    transition: ease-in-out 0.3s;
    
}
.subscribe{
    display: flex;
    text-align: center;
    justify-content: center;
    height: 28px;
    width: 95px;
    margin-right: 16%;
    background-color: aqua; 
    border-radius: 3px;
    margin-top: 6px; 
    margin-left: 20px;
}
.subscribe:hover{
    background-color: rgb(78, 220, 220);
    transition: ease-in-out 0.3s;
    font-weight: bold;
    
}                                                                                                   

.subscribe a{
    margin-top: 3px;
    margin-left: 37px;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    color: white;
}
.subscribe a:hover{
    color: black;
}
.srch {
    margin-top: 3px;
    margin-left: 30px;
    color: rgb(146, 141, 141);
}
.srch:hover{
    background-color: grey;
    color: black;
    border-radius: 10%;
    
    
}

.sign-in-box a{
   
    font-size: 15px;
    border-radius: 2px;
    padding: 2px;
    color: black;
    text-decoration: none;
    
}
.contaier2{
    display: flex;
    margin: auto;
    width: 100%;
    height: 500px;
    background-image:url("https://images.unsplash.com/photo-1585409677983-0f6c41ca9c3b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D&w=1000&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
}

.header-content{
    align-items: center;
    justify-content: center;
    margin: auto;
    color: white;
    font-size: 20px;
}
.container-3{
    height: 470px;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 40px; 
    width: 90%;
    margin: auto;
    text-align: center;
    justify-content: center;
    padding: 50px;
}
.circle-img{
    display: flex;
    margin-left:10%;
    height: 35px;
    width: 35px;
    border-radius: 100%;
    border: 1px solid black;
    background: url(./WhatsApp\ Image\ 2023-09-02\ at\ 04.03.28.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.circle-img p{
    margin-left: 100%;
}
.title-content{
    
    text-align: center;
    margin: auto 20px;
    justify-content: center;
}
.title p{
    color: rgb(180, 174, 174);
}
.bottom-content{
    margin-top: 10px;
    padding-top: 10px;
    display: flex;
    
}
.bottom-content p{
    margin-left: 15px;
    margin-top: 6px;
    color: gray;
    font-weight: lighter;
    font-size: 15px;
    
}
.container-3 .img1{
    box-shadow: 0 10px 10px 0 rgb(220, 209, 209);
    /* border: 5px solid red; */

}
